body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
}

.display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #333333;
    color: #ffffff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #666666;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}